# Developer environments
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IPython Notebook
.ipynb_checkpoints

# Virtualenv
venv/
ENV/

# Model data
*.h5

# Video data
**/*.MOV
**/*.mp4